<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="container text-center">
      <div id="app">
          <h2>Items</h2>
          <hr>
          <ul>
              <li v-for="(articolo,index) in articoli" :key="articolo.id">
                <h2>Order Item Number {{ index }}:</h2>
                <h5  v-for="(attributo,key) in articolo">
                 {{ key }} : {{ attributo }}
                </h5>
              </li>
          </ul>
          <button @click="pushArticolo"> Aggiungi Nuovo </button>
      </div>
  </div>
</body>
<script>
var app = new Vue({
    el: '#app',
    data: {
       articoli : [
            { Model : 'Nintendo Switch' , price  : '329', 'class' : 'handly', 'color': 'rainbow' },
            { Model : 'Xbox one Series X' , price  : '499', 'class' : 'power' , 'color': 'black' },
            { Model : 'Playstation 5' , price : '499', 'class' : 'speed' , 'color': 'white' },
       ]
    },
    mounted : function(){

    },
    methods : {
        pushArticolo(){
            var newArticolo = {Model : 'Steam' , price  : '1', 'class' : 'master' , 'color': 'all!' };
          this.articoli.splice(1, 0, newArticolo);
        }
    }
})
</script>
</html>
